.brand-logo{
    object-fit: contain;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #000;
    box-shadow: 10px 15px 20px rgba(180, 149, 11, 0.4);
}
.nav-links{
    display: flex;
    justify-content: center;
    flex-basis: 40%;
    background: #efb85e;
border-radius: 200%;

}
.nav-links a{
    text-decoration: none;
    color: #000;
    padding: 10px;
    font-size: 25px;
}
.nav-links a:hover{
background: #000;
color: #efb85e;
font-size: 30px;
transition: all 0.4s ease-in;
}

button{
    color: #efb85e;
    background: transparent;
    border: 1px solid #efb85e;
    cursor: pointer;
    font-size: 20px;
    border-radius: 300px;
    padding: 7px 12px;
}
button:hover{
    background: #efb85e;
    color: #000;
}
